*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
}


:root {
    --red: #cf4d4d;
    --black: #444;
    --light-color: #777;
    --bg-color: #e6e6e6;
    --border: 0.1rem solid rgba(0, 0, 0, 0.2);
    --box-shadow: 0.2rem 0.2rem 0.2rem 1rem #ccc, -0.2rem 1rem #fff;
    --box-shadow-inset: 0.4rem 0.4rem 1rem #ccc inset, -0.4rem -0.4rem 1rem #fff inset;
}

marquee {
    background: blue;
    padding: 0.5rem;
    color: white;
    margin-left: 3em;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
}

.arrow {
    position: absolute;
    top: -10%;
    color: blue;
    background: white;
    padding: 0 1px;
    cursor: pointer;
    width: 50px;
    font-size: 30px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    position: fixed;
    padding: 10px;
    background-color: blue;
    width: 100%;
    bottom: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.gallerys {
    /* border: 1px solid deeppink; */
    width: 80%;
    /* margin-top: -36px; */
    margin: 30px;
    margin-left: 9rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 6rem;
    
}
.gallery {
    margin-top: 1rem;
    border: 1px solid #ccc;
    /* float: left; */
    width: 30%;
    /* box-shadow: var(--box-shadow-inset); */
    /* box-shadow: var(--box-shadow); */
}
.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
  display: none;
}

.slide-container {
    width: 100%;
    overflow: hidden;
  background: #ffffff;
    top: 35px;
    position: fixed;
}

.slider {
    display: flex;
    justify-content: space-between;
    animation: slide 10s infinite;
}

.slide {
    width: 100%;
    border: 1px solid blue;
    height: 100px;
    margin-left: 1rem;
}

.slide img {
    width: 100%;
    height: 100px;
}

@keyframes slide {
    0%{ 
        transform: translate(0);
    }
    33%{
        transform: translateX(-100%);
    }
    66%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(-200%);
    }
}


@media (max-width:600px) {



    .arrow {
        cursor: pointer;
        font-size: 1;
    }
    
    .gallerys {
        /* border: 2px solid red; */
        width: 100%;
        padding-top: 2rem;
        margin-left: 0;
        display: flex;
        margin: auto;
        margin-bottom: 3rem;
    }

    /* .gallery img {
        width: 20%;
    } */

    .gallery {
        /* border: 1px solid blue; */
        padding: 0;
        width: 30%;
    }




    .desc {
        font-size: 20px;
        padding: 0.5rem 0;
        color: blue;
    }

    .navbar {
        margin-top: 10rem;
        padding: 3px;
        margin: 0;
        text-align: center;
        font-size: 15px;
        font-family: sans-serif;
     }
}

